Repository fxrdhan/Limeon-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'yarn test:related --run'"]
}

fix(search-bar): enable edit mode for multi-condition filters via X button (#127)
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

docs: refactor README badges layout and styling
  README.md
Due: prettier --write

docs: refactor README badges layout and styling (#128)
  README.md
Due: prettier --write

docs: remove commented badge lines from README
  README.md
Due: prettier --write

docs: remove commented badge lines from README (#129)
  README.md
Due: prettier --write

docs: remove Playwright and AG Grid badge logos
  README.md
Due: prettier --write

docs: remove Playwright and AG Grid badge logos (#130)
  README.md
Due: prettier --write

style(readme): update Playwright badge to use official logo
  README.md
Due: prettier --write

style(readme): update Playwright badge to use official logo (#131)
  README.md
Due: prettier --write

feat(search-bar): improve UX for locked multi-condition filter state
  .playwright-mcp/multi-condition-filter-expanded.png
  .playwright-mcp/multi-condition-filter-locked-input.png
  .playwright-mcp/page-2025-11-16T15-06-43-004Z.png
  .playwright-mcp/page-2025-11-16T15-07-03-813Z.png
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): improve UX for locked multi-condition filter state (#132)
  .playwright-mcp/multi-condition-filter-expanded.png
  .playwright-mcp/multi-condition-filter-locked-input.png
  .playwright-mcp/page-2025-11-16T15-06-43-004Z.png
  .playwright-mcp/page-2025-11-16T15-07-03-813Z.png
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): disable badge animation on multi-condition transitions
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): disable badge animation on multi-condition transitions (#133)
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

chore: remove .playwright-mcp from repository and add to .gitignore
  .gitignore
  .playwright-mcp/multi-condition-filter-expanded.png
  .playwright-mcp/multi-condition-filter-locked-input.png
  .playwright-mcp/page-2025-11-16T15-06-43-004Z.png
  .playwright-mcp/page-2025-11-16T15-07-03-813Z.png
Due: none

chore: remove .playwright-mcp from repository and add to .gitignore (#134)
  .gitignore
  .playwright-mcp/multi-condition-filter-expanded.png
  .playwright-mcp/multi-condition-filter-locked-input.png
  .playwright-mcp/page-2025-11-16T15-06-43-004Z.png
  .playwright-mcp/page-2025-11-16T15-07-03-813Z.png
Due: none

fix(search-bar): set cursor to end when exiting multi-condition edit mode
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): set cursor to end when exiting multi-condition edit mode (#135)
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): add hover-triggered clear button to multi-condition badges
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): add hover-triggered clear button to multi-condition badges (#136)
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

Revert "feat(search-bar): add hover-triggered clear button to multi-condition badges (#136)"
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): add hover-triggered clear button to multi-condition badges (#138)
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor(search-bar): replace locked state with hover-triggered clear for multi-condition filters
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/hooks/useSearchInput.ts
  src/components/search-bar/utils/searchUtils.ts
  src/types/search.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): add non-null assertions for TypeScript check
  src/components/search-bar/components/SearchBadge.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor(search-bar): replace locked state with hover-triggered clear for multi-condition filters (#139)
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/hooks/useSearchInput.ts
  src/components/search-bar/utils/searchUtils.ts
  src/types/search.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): improve search icon display logic for multi-condition filters
  src/components/search-bar/components/SearchIcon.tsx
  src/types/search.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): improve search icon display logic for multi-condition filters (#140)
  src/components/search-bar/components/SearchIcon.tsx
  src/types/search.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor(search-bar): remove framer-motion animations from search badges
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/hooks/useSearchInput.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor(search-bar): remove framer-motion animations from search badges (#141)
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/hooks/useSearchInput.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'
