Repository fxrdhan/Limeon-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'yarn test:related --run'"]
}

feat: enhance keyboard navigation with Tab shortcuts and auto-focus (#88)
  src/components/shared/sliding-selector/index.tsx
  src/features/shared/components/SearchToolbar.tsx
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: add Firecrawl MCP server configuration
  .mcp.json.example
Due: none

feat: add Firecrawl MCP server configuration (#89)
  .mcp.json.example
Due: none

feat: add AG Grid MCP server to example configuration
  .mcp.json.example
Due: none

fix: correct indentation in ag-mcp configuration
  .mcp.json.example
Due: none

feat: add AG Grid MCP server to example configuration (#90)
  .mcp.json.example
Due: none

refactor: remove redundant applyColumnState calls in grid state restoration
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/shared/utils/gridStateManager.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor: remove redundant applyColumnState calls in grid state restoration (#91)
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/shared/utils/gridStateManager.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

chore: downgrade AG Grid from v34.3.1 to v34.2.0
  package.json
  yarn.lock
Due: prettier --write

chore: downgrade AG Grid from v34.3.1 to v34.2.0 (#92)
  package.json
  yarn.lock
Due: prettier --write

fix: restore AG Grid column filters on tab switch in item master
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: restore AG Grid column filters on tab switch in item master (#93)
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: add description/address column to badge search and AG Grid filters
  src/pages/master-data/item-master/index.tsx
  src/utils/searchColumns.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: add description/address column to badge search and AG Grid filters (#94)
  src/pages/master-data/item-master/index.tsx
  src/utils/searchColumns.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: implement hybrid tab switching protection with auto-repeat prevention
  src/components/shared/sliding-selector/index.tsx
  src/features/shared/components/SearchToolbar.tsx
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: implement hybrid tab switching protection with auto-repeat prevention (#95)
  src/components/shared/sliding-selector/index.tsx
  src/features/shared/components/SearchToolbar.tsx
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: preserve badge filters on tab switch in item master
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: preserve badge filters on tab switch in item master (#96)
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: implement tab switch guard to preserve searchbar badge filters
  src/hooks/ag-grid/useEnhancedAgGridSearch.ts
  src/hooks/data/useUnifiedSearch.ts
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: implement tab switch guard to preserve searchbar badge filters (#97)
  src/hooks/ag-grid/useEnhancedAgGridSearch.ts
  src/hooks/data/useUnifiedSearch.ts
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: implement two-way sync for simple grid filters to searchbar
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/shared/components/SearchToolbar.tsx
  src/hooks/data/useUnifiedSearch.ts
  src/pages/master-data/item-master/index.tsx
  src/utils/gridFilterSync.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat: implement two-way sync for simple grid filters to searchbar (#98)
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/shared/components/SearchToolbar.tsx
  src/hooks/data/useUnifiedSearch.ts
  src/pages/master-data/item-master/index.tsx
  src/utils/gridFilterSync.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: prevent cascade deletion when clearing SearchBar on complex grid filters
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: prevent cascade deletion when clearing SearchBar on complex grid filters (#99)
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor: simplify grid filter logic by removing two-way sync and agSelectableColumnFilter
  src/features/item-management/application/hooks/ui/useItemGridColumns.ts
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix: add type annotations for event parameters in EntityGrid
  src/features/item-management/presentation/organisms/EntityGrid.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor: simplify grid filter logic by removing two-way sync and agSelectableColumnFilter (#100)
  src/features/item-management/application/hooks/ui/useItemGridColumns.ts
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/pages/master-data/item-master/index.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'
