Repository fxrdhan/Limeon-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix --deny-warnings, oxfmt

fix(ci): refresh chat schema baseline and formatting
  src/types/supabase-chat.generated.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(supabase): allow chat contacts to view presence
  supabase/migrations/20260425082521_allow_chat_contacts_presence_snapshots.sql
Due: none

fix(supabase): prevent self-assigned user roles
  supabase/migrations/20260425090000_prevent_self_assigned_user_roles.sql
Due: none

feat(presence): add shared online roster avatars
  src/app/layout/navbar/online-users-control.tsx
  src/components/animate-ui/components/animate/tooltip.tsx
  src/components/shared/user-presence-avatar/index.tsx
  src/components/ui/avatar.tsx
  src/hooks/presence/usePresence.test.tsx
  src/hooks/presence/usePresenceRosterSync.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ui): stabilize tooltip arrow positioning
  src/components/animate-ui/components/animate/tooltip.tsx
Due: oxlint --fix --deny-warnings, oxfmt

feat(tooltip): improve tooltip entrance and exit animations
  src/components/animate-ui/components/animate/tooltip.tsx
Due: oxlint --fix --deny-warnings, oxfmt

fix(ui): anchor tooltip arrow to the bubble
  src/components/animate-ui/components/animate/tooltip.tsx
Due: oxlint --fix --deny-warnings, oxfmt

fix(navbar): simplify online users trigger
  src/app/layout/navbar/index.tsx
  src/app/layout/navbar/online-users-control.tsx
Due: oxlint --fix --deny-warnings, oxfmt

fix(tooltip): animate arrow with bubble
  src/components/animate-ui/components/animate/tooltip.tsx
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat-sidebar): add contact list mode
  src/app/layout/chat-sidebar/index.tsx
  src/app/layout/navbar/online-users-control.tsx
  src/features/chat-sidebar/__tests__/useChatSidebarLauncher.test.tsx
  src/features/chat-sidebar/components/ChatHeader.tsx
  src/features/chat-sidebar/components/ContactListPanel.tsx
  src/features/chat-sidebar/components/header/ConversationHeaderContent.tsx
  src/features/chat-sidebar/hooks/useChatSidebarLauncher.ts
  src/features/chat-sidebar/hooks/useChatSidebarRuntimeState.ts
  src/store/chatSidebarStore.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(scripts): refresh profile photo thumbnail backfill
  scripts/README.md
  scripts/backfill-profile-photo-thumbnails.ts
  shared/profilePhotoPaths.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat-sidebar): animate sidebar panel transitions
  src/app/layout/chat-sidebar/index.tsx
  src/app/layout/navbar/index.tsx
  src/app/layout/navbar/online-users-control.tsx
  src/features/chat-sidebar/components/ContactListPanel.tsx
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat-sidebar): support self conversations
  src/app/layout/chat-sidebar/index.tsx
  src/features/chat-sidebar/__tests__/ChatHeader.test.tsx
  src/features/chat-sidebar/__tests__/ContactListPanel.test.tsx
  src/features/chat-sidebar/__tests__/useChatSidebarLauncher.test.tsx
  src/features/chat-sidebar/components/ChatHeader.tsx
  src/features/chat-sidebar/components/ContactListPanel.tsx
  src/features/chat-sidebar/components/header/ConversationHeaderContent.tsx
  src/features/chat-sidebar/hooks/useChatSidebarLauncher.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ui): smooth tooltip and avatar motion
  src/components/animate-ui/components/animate/tooltip.tsx
  src/components/shared/user-presence-avatar/index.tsx
Due: oxlint --fix --deny-warnings, oxfmt

refactor(chat-sidebar): smooth sidebar transition timing
  src/app/layout/chat-sidebar/index.tsx
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): clarify current user entry
  src/features/chat-sidebar/components/ContactListPanel.tsx
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): settle initial open pin to bottom
  src/features/chat-sidebar/hooks/useChatViewportScroll.ts
  src/features/chat-sidebar/utils/conversation-sync.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): suppress initial message animations
  src/app/layout/chat-sidebar/index.tsx
  src/features/chat-sidebar/components/messages/MessageItem.tsx
  src/features/chat-sidebar/components/messages/buildMessageItemModel.ts
  src/features/chat-sidebar/components/messages/messageItemTypes.ts
  src/features/chat-sidebar/components/messagesPaneRuntime.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(supabase): make admin role check case-insensitive
  supabase/migrations/20260426023000_current_user_is_admin_case_insensitive.sql
Due: none

feat(chat-sidebar): show latest message previews
  src/features/chat-sidebar/__tests__/ContactListPanel.test.tsx
  src/features/chat-sidebar/components/ContactListPanel.tsx
  src/hooks/presence/roster.ts
  src/services/api/chat/normalizers.ts
  src/store/createDirectoryStore.ts
  src/types/supabase-chat.generated.ts
  supabase/migrations/20260426024500_chat_directory_last_message_preview.sql
Due: oxlint --fix --deny-warnings, oxfmt

chore(docs): note dev server policy
  AGENTS.md
Due: oxfmt

feat(chat-sidebar): highlight contacts on hover
  src/features/chat-sidebar/components/ContactListPanel.tsx
Due: oxlint --fix --deny-warnings, oxfmt

refactor(chat-sidebar): polish contact list panel spacing
  src/features/chat-sidebar/components/ContactListPanel.tsx
Due: oxlint --fix --deny-warnings, oxfmt

docs(agents): tighten default UI testing guidance
  AGENTS.md
Due: oxfmt

feat(ui): add vertical sliding selector layout
  src/components/shared/sliding-selector/index.tsx
  src/features/item-management/pages/item-master/index.tsx
Due: oxlint --fix --deny-warnings, oxfmt

fix(ci): refresh chat schema baseline
  src/types/supabase-chat.generated.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ci): align lint-staged formatting with vp
  .lintstagedrc.json
Due: oxfmt

chore(format): apply vp formatting fixes
  scripts/backfill-profile-photo-thumbnails.ts
  shared/profilePhotoPaths.ts
  src/app/layout/chat-sidebar/index.tsx
  src/app/layout/navbar/index.tsx
  src/app/layout/navbar/online-users-control.tsx
  src/components/animate-ui/components/animate/tooltip.tsx
  src/components/shared/sliding-selector/index.tsx
  src/components/shared/user-presence-avatar/index.tsx
  src/components/ui/avatar.tsx
  src/features/chat-sidebar/__tests__/ChatHeader.test.tsx
  src/features/chat-sidebar/__tests__/ContactListPanel.test.tsx
  src/features/chat-sidebar/__tests__/useChatSidebarLauncher.test.tsx
  src/features/chat-sidebar/components/ChatHeader.tsx
  src/features/chat-sidebar/components/ContactListPanel.tsx
  src/features/chat-sidebar/components/header/ConversationHeaderContent.tsx
  src/features/chat-sidebar/components/messages/MessageItem.tsx
  src/features/chat-sidebar/components/messages/buildMessageItemModel.ts
  src/features/chat-sidebar/components/messages/messageItemTypes.ts
  src/features/chat-sidebar/components/messagesPaneRuntime.ts
  src/features/chat-sidebar/hooks/useChatSidebarLauncher.ts
  src/features/chat-sidebar/hooks/useChatSidebarRuntimeState.ts
  src/features/chat-sidebar/hooks/useChatViewportScroll.ts
  src/features/chat-sidebar/utils/conversation-sync.ts
  src/features/item-management/pages/item-master/index.tsx
  src/hooks/presence/roster.ts
  src/hooks/presence/usePresence.test.tsx
  src/hooks/presence/usePresenceRosterSync.ts
  src/services/api/chat/normalizers.ts
  src/store/chatSidebarStore.ts
  src/store/createDirectoryStore.ts
  src/types/supabase-chat.generated.ts
Due: oxlint --fix --deny-warnings, oxfmt

test(chat): align sidebar and directory expectations
  src/features/chat-sidebar/__tests__/ChatSidebarPanel.integration.test.tsx
  src/services/api/chat.service.test.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ci): automate chat schema baseline refresh
  .husky/pre-commit
  package.json
  scripts/README.md
  scripts/check-chat-schema-types.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ui): refine selector layout and hover states
  src/app/layout/sidebar/index.tsx
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/selectors/BaseSelector.tsx
  src/components/search-bar/components/selectors/ColumnSelector.tsx
  src/components/search-bar/components/selectors/JoinOperatorSelector.tsx
  src/components/search-bar/components/selectors/OperatorSelector.tsx
  src/components/shared/sliding-selector/index.tsx
  src/features/item-management/pages/item-master/index.tsx
Due: oxlint --fix --deny-warnings, oxfmt

chore(repo): drop linguist TypeScript overrides
  .gitattributes
Due: none

fix(ui): remove intrusive focus juggling
  src/components/SearchToolbar.tsx
  src/components/shared/sliding-selector/index.tsx
  src/features/item-management/pages/item-master/index.tsx
  src/features/purchase-management/pages/PurchaseListPage.tsx
  src/hooks/data/useMasterDataManagement.ts
  src/hooks/forms/fieldFocus.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ui): stabilize hover highlights and tooltip exit
  src/components/animate-ui/components/animate/tooltip.tsx
  src/components/shared/animated-menu-highlight.tsx
  src/features/chat-sidebar/components/ContactListPanel.tsx
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat-sidebar): animate contact list transitions
  src/features/chat-sidebar/components/ContactListPanel.tsx
Due: oxlint --fix --deny-warnings, oxfmt

docs(agents): clarify check command guidance
  AGENTS.md
Due: oxfmt

fix(ui): stabilize sliding selector swaps
  src/components/shared/sliding-selector/index.tsx
  src/features/item-management/pages/item-master/index.tsx
Due: oxlint --fix --deny-warnings, oxfmt

feat(search-bar): auto-focus input on printable keypress
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/SearchBar.test.tsx
  src/components/search-bar/SearchBar.tsx
  src/components/search-bar/hooks/useSearchAutoTypeFocus.ts
  src/components/search-bar/types/search.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(ui): stabilize dropdown and modal interactions
  src/components/dropdown/components/DropdownMenu.tsx
  src/components/dropdown/components/OptionItem.tsx
  src/components/dropdown/components/options/OptionRow.tsx
  src/components/dropdown/components/search/AddNewButton.tsx
  src/components/dropdown/hooks/useFocusManagement.ts
  src/components/dropdown/hooks/useKeyboardNavigation.ts
  src/components/dropdown/index.test.tsx
  src/components/dropdown/index.tsx
  src/components/dropdown/types/components.ts
  src/components/pagination/components/FloatingWrapper.tsx
  src/components/pagination/constants.ts
  src/features/item-management/pages/item-master/index.tsx
  src/features/item-management/presentation/templates/ItemModalTemplate.tsx
  src/features/item-management/presentation/templates/item/ItemModal.tsx
Due: oxlint --fix --deny-warnings, oxfmt

Path conditions:
  oxlint --fix --deny-warnings: any of: *.{ts,tsx,js,jsx}
  oxfmt: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
