Repository fxrdhan/Limeon-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["eslint --fix", "prettier --write"],
  "*.{json,md,yml,yaml}": ["prettier --write"],
  "*.{ts,tsx}": ["bash -c 'yarn test:related --run'"]
}

test: add e2e test scripts for searchbar filter validation (#169)
  scripts/e2e-tests/README.md
  scripts/e2e-tests/searchbar-filter-case-1.js
  scripts/e2e-tests/searchbar-filter-case-2.js
Due: eslint --fix, prettier --write

refactor(e2e): reorganize searchbar filter tests into dedicated directory
  scripts/e2e-tests/README.md
  scripts/e2e-tests/searchbar/ARCHITECTURE.md
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/searchbar-filter-case-0.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-1.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-2.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-3.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-4.js
  scripts/e2e-tests/searchbar/searchbar-sync-validation.js
Due: eslint --fix, prettier --write

refactor(e2e): reorganize searchbar filter tests into dedicated directory (#170)
  scripts/e2e-tests/README.md
  scripts/e2e-tests/searchbar/ARCHITECTURE.md
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/searchbar-filter-case-0.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-1.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-2.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-3.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-4.js
  scripts/e2e-tests/searchbar/searchbar-sync-validation.js
Due: eslint --fix, prettier --write

refactor(search-bar): auto-open operator selector after column selection
  scripts/e2e-tests/searchbar/searchbar-filter-case-1.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-2.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-3.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-4.js
  scripts/e2e-tests/searchbar/searchbar-sync-validation.js
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/hooks/useSearchKeyboard.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor(search-bar): auto-open operator selector after column selection (#171)
  scripts/e2e-tests/searchbar/searchbar-filter-case-1.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-2.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-3.js
  scripts/e2e-tests/searchbar/searchbar-filter-case-4.js
  scripts/e2e-tests/searchbar/searchbar-sync-validation.js
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/hooks/useSearchKeyboard.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

refactor(e2e): remove searchbar prefix from test file names
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/filter-case-0.js
  scripts/e2e-tests/searchbar/filter-case-1.js
  scripts/e2e-tests/searchbar/filter-case-2.js
  scripts/e2e-tests/searchbar/filter-case-3.js
  scripts/e2e-tests/searchbar/filter-case-4.js
  scripts/e2e-tests/searchbar/sync-validation.js
Due: eslint --fix, prettier --write

refactor(e2e): remove searchbar prefix from test file names (#172)
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/filter-case-0.js
  scripts/e2e-tests/searchbar/filter-case-1.js
  scripts/e2e-tests/searchbar/filter-case-2.js
  scripts/e2e-tests/searchbar/filter-case-3.js
  scripts/e2e-tests/searchbar/filter-case-4.js
  scripts/e2e-tests/searchbar/sync-validation.js
Due: eslint --fix, prettier --write

refactor(e2e): replace screenshot tests with DOM validation
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/badge-helpers.js
  scripts/e2e-tests/searchbar/filter-case-0.js
  scripts/e2e-tests/searchbar/filter-case-1.js
  scripts/e2e-tests/searchbar/filter-case-2.js
  scripts/e2e-tests/searchbar/filter-case-3.js
  scripts/e2e-tests/searchbar/filter-case-4.js
  scripts/e2e-tests/searchbar/sync-validation.js
Due: eslint --fix, prettier --write

refactor(e2e): replace screenshot tests with DOM validation (#173)
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/badge-helpers.js
  scripts/e2e-tests/searchbar/filter-case-0.js
  scripts/e2e-tests/searchbar/filter-case-1.js
  scripts/e2e-tests/searchbar/filter-case-2.js
  scripts/e2e-tests/searchbar/filter-case-3.js
  scripts/e2e-tests/searchbar/filter-case-4.js
  scripts/e2e-tests/searchbar/sync-validation.js
Due: eslint --fix, prettier --write

Revise README with new description and badges
  README.md
Due: prettier --write

refactor(e2e): migrate tests from JavaScript to Markdown flows
  scripts/e2e-tests/README.md
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
  scripts/e2e-tests/searchbar/badge-helpers.js
  scripts/e2e-tests/searchbar/filter-case-0.js
  scripts/e2e-tests/searchbar/filter-case-1.js
  scripts/e2e-tests/searchbar/filter-case-2.js
  scripts/e2e-tests/searchbar/filter-case-3.js
  scripts/e2e-tests/searchbar/filter-case-4.js
  scripts/e2e-tests/searchbar/sync-validation.js
Due: eslint --fix, prettier --write

refactor(e2e): migrate tests from JavaScript to Markdown flows (#174)
  scripts/e2e-tests/README.md
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/README.md
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
  scripts/e2e-tests/searchbar/badge-helpers.js
  scripts/e2e-tests/searchbar/filter-case-0.js
  scripts/e2e-tests/searchbar/filter-case-1.js
  scripts/e2e-tests/searchbar/filter-case-2.js
  scripts/e2e-tests/searchbar/filter-case-3.js
  scripts/e2e-tests/searchbar/filter-case-4.js
  scripts/e2e-tests/searchbar/sync-validation.js
Due: eslint --fix, prettier --write

Add AG Grid badge to README
  README.md
Due: prettier --write

docs(e2e): clarify delete button interaction steps in test flows
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
Due: prettier --write

docs(e2e): clarify delete button interaction steps in test flows (#175)
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
Due: prettier --write

feat(search-bar): add value badge editing capability
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/hooks/useBadgeBuilder.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): add value badge editing capability (#176)
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/hooks/useBadgeBuilder.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): clear preserved state after badge edit confirmation
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/hooks/useSearchKeyboard.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): clear preserved state after badge edit confirmation (#177)
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/hooks/useSearchKeyboard.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): clear preserved state after badge edit confirmation
  src/components/search-bar/hooks/useSearchKeyboard.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): clear preserved state after badge edit confirmation (#178)
  src/components/search-bar/hooks/useSearchKeyboard.ts
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): support editing first and second value badges in multi-condition filters
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

feat(search-bar): support editing first and second value badges in multi-condition filters (#179)
  scripts/e2e-tests/searchbar/FILE_INDEX.md
  scripts/e2e-tests/searchbar/TEST-FLOWS.md
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): detect second value edit to prevent incorrect pattern reconstruction
  BUG_ANALYSIS_E2_SECOND_VALUE_EDIT.md
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

fix(search-bar): detect second value edit to prevent incorrect pattern reconstruction (#180)
  BUG_ANALYSIS_E2_SECOND_VALUE_EDIT.md
  src/components/search-bar/EnhancedSearchBar.tsx
Due: eslint --fix, prettier --write, bash -c 'yarn test:related --run'

docs(search-bar): update documentation after badge editing feature
  BUG_ANALYSIS_E2_SECOND_VALUE_EDIT.md
  scripts/e2e-tests/searchbar/ARCHITECTURE.md
  scripts/e2e-tests/searchbar/FILE_INDEX.md
Due: prettier --write

docs(search-bar): update documentation after badge editing feature (#181)
  BUG_ANALYSIS_E2_SECOND_VALUE_EDIT.md
  scripts/e2e-tests/searchbar/ARCHITECTURE.md
  scripts/e2e-tests/searchbar/FILE_INDEX.md
Due: prettier --write
