Repository fxrdhan/Limeon-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix --deny-warnings, oxfmt

.lintstagedrc.json:

{
  "*.{ts,tsx,js,jsx}": ["oxlint --fix --deny-warnings", "oxfmt"],
  "*.{json,md,yml,yaml}": ["oxfmt"]
}

feat(chat-sidebar): add image copy action to preview
  src/features/chat-sidebar/__tests__/MultiImagePreviewPortal.test.tsx
  src/features/chat-sidebar/components/MessagesPane.tsx
  src/features/chat-sidebar/components/MultiImagePreviewPortal.tsx
Due: oxlint --fix --deny-warnings, oxfmt

docs(agents): update repo instructions
  AGENTS.md
Due: oxfmt

fix(realtime): remove supabase channels on logout
  src/lib/browserLogoutCleanup.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(security): harden CSP and rls policies
  index.html
  src/fonts.css
  supabase/migrations/20260323173000_security_hardening_followup.sql
  supabase/migrations/20260323174500_security_policy_cleanup.sql
Due: none

docs(agents): update validation guidance
  AGENTS.md
Due: oxfmt

fix(supabase): lock function search paths
  supabase/migrations/20260323193000_fix_function_search_paths.sql
Due: none

fix(supabase): resolve advisor performance issues
  supabase/migrations/20260323195000_performance_advisor_cleanup.sql
Due: none

fix(chat-sidebar): preserve menu placement during open scroll
  src/features/chat-sidebar/__tests__/useChatViewport.test.tsx
  src/features/chat-sidebar/hooks/useChatViewportMenu.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(tooling): normalize agent test script aliases
  AGENTS.md
  package.json
Due: oxfmt

chore(tooling): use bunx for vp scripts
  package.json
Due: oxfmt

feat(chat-sidebar): show preview asset while PDF preview hydrates
  src/features/chat-sidebar/__tests__/useMessagePdfPreviews.test.tsx
  src/features/chat-sidebar/hooks/useMessagePdfPreviews.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(tooling): bump node to 24
  .nvmrc
Due: none

feat(chat-sidebar): persist composer drafts per channel
  src/features/chat-sidebar/__tests__/useChatComposer.test.tsx
  src/features/chat-sidebar/hooks/useChatComposer.ts
  src/features/chat-sidebar/hooks/useChatComposerAttachments.ts
  src/features/chat-sidebar/hooks/useComposerPendingAttachments.ts
  src/features/chat-sidebar/utils/composer-draft-persistence.ts
  src/lib/browserLogoutCleanup.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(ci): standardize workflow script invocations
  .github/workflows/ci.yml
Due: oxfmt

feat(chat-sidebar): persist image previews after send
  src/features/chat-sidebar/__tests__/useChatComposerSend.test.tsx
  src/features/chat-sidebar/__tests__/useMessageImagePreviews.test.tsx
  src/features/chat-sidebar/constants.ts
  src/features/chat-sidebar/hooks/useChatComposerSend.ts
  src/features/chat-sidebar/hooks/useChatImagePreviewSync.ts
  src/features/chat-sidebar/hooks/useMessageImagePreviews.ts
  src/features/chat-sidebar/utils/image-message-preview.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): reuse cached image preview urls
  scripts/backfill-chat-image-previews.ts
  src/features/chat-sidebar/__tests__/image-preview-path.test.ts
  src/features/chat-sidebar/__tests__/useChatSession.test.tsx
  src/features/chat-sidebar/__tests__/useMessageImagePreviews.test.tsx
  src/features/chat-sidebar/__tests__/useMessagesPanePreviews.test.tsx
  src/features/chat-sidebar/hooks/useChatConversationInitialLoad.ts
  src/features/chat-sidebar/hooks/useMessageImagePreviews.ts
  src/features/chat-sidebar/hooks/useMessagesPanePreviews.ts
  src/features/chat-sidebar/utils/image-message-preview.ts
  src/features/chat-sidebar/utils/image-preview-path.ts
  src/features/chat-sidebar/utils/message-file.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): prime cached image assets on initial load
  src/features/chat-sidebar/__tests__/useChatSession.test.tsx
  src/features/chat-sidebar/__tests__/useMessageImagePreviews.test.tsx
  src/features/chat-sidebar/hooks/useChatConversationInitialLoad.ts
  src/features/chat-sidebar/hooks/useMessageImagePreviews.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): keep latest message visible during composer resize
  src/features/chat-sidebar/__tests__/MessagesPane.test.tsx
  src/features/chat-sidebar/__tests__/useChatViewport.test.tsx
  src/features/chat-sidebar/components/MessagesPane.tsx
  src/features/chat-sidebar/hooks/useChatViewport.ts
  src/features/chat-sidebar/hooks/useChatViewportScroll.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): keep viewport pinned during content growth
  src/features/chat-sidebar/__tests__/useChatViewport.test.tsx
  src/features/chat-sidebar/components/MessagesPane.tsx
  src/features/chat-sidebar/hooks/useChatSidebarController.ts
  src/features/chat-sidebar/hooks/useChatSidebarRefs.ts
  src/features/chat-sidebar/hooks/useChatSidebarRuntimeState.ts
  src/features/chat-sidebar/hooks/useChatViewport.ts
  src/features/chat-sidebar/hooks/useChatViewportScroll.ts
  src/features/chat-sidebar/models.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat-sidebar): prefer thumbnail image previews
  src/features/chat-sidebar/__tests__/useMessageImagePreviews.test.tsx
  src/features/chat-sidebar/hooks/useChatComposerAttachments.ts
  src/features/chat-sidebar/hooks/useChatSidebarController.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentLinkPrompt.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentPreviewState.ts
  src/features/chat-sidebar/hooks/useComposerLoadingAttachments.ts
  src/features/chat-sidebar/hooks/useMessageImagePreviews.ts
  src/features/chat-sidebar/hooks/useMessagesPanePreviews.ts
  src/features/chat-sidebar/utils/channel-image-asset-cache.ts
  src/features/chat-sidebar/utils/chatRuntimeState.ts
  src/features/chat-sidebar/utils/composer-draft-persistence.ts
  src/features/chat-sidebar/utils/image-message-preview.ts
  src/features/chat-sidebar/utils/pdf-preview-persistence.ts
  src/features/chat-sidebar/utils/runtime-persistence.ts
  src/features/chat-sidebar/view-models.ts
  src/lib/browserLogoutCleanup.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat): route attachment handling through backend
  .env.example
  .gitignore
  shared/chatAttachmentPaths.ts
  shared/chatFunctionContracts.ts
  src/features/chat-sidebar/__tests__/message-file.test.ts
  src/features/chat-sidebar/__tests__/useChatComposerSend.test.tsx
  src/features/chat-sidebar/__tests__/useChatMessageForwardAction.test.tsx
  src/features/chat-sidebar/constants.ts
  src/features/chat-sidebar/data/chatSidebarGateway.ts
  src/features/chat-sidebar/hooks/useChatAttachmentSend.ts
  src/features/chat-sidebar/hooks/useChatImagePreviewSync.ts
  src/features/chat-sidebar/hooks/useChatMessageForwardAction.ts
  src/features/chat-sidebar/hooks/useChatPdfPreviewSync.ts
  src/features/chat-sidebar/utils/attachment-preview-persistence.ts
  src/features/chat-sidebar/utils/attachment-thread-flow.ts
  src/features/chat-sidebar/utils/attachment.ts
  src/features/chat-sidebar/utils/composer-attachment-link.ts
  src/features/chat-sidebar/utils/image-preview-path.ts
  src/services/api/chat.service.test.ts
  src/services/api/chat.service.ts
  src/services/api/chat/forward.service.test.ts
  src/services/api/chat/forward.service.ts
  src/services/api/chat/link.service.test.ts
  src/services/api/chat/link.service.ts
  src/services/api/chat/rpc-contract.ts
  src/services/api/chat/types.ts
  src/types/supabase-chat.generated.ts
  supabase/functions/chat-forward-message/actions.ts
  supabase/functions/chat-forward-message/index.ts
  supabase/migrations/20260324130000_chat_message_preview_metadata_on_create.sql
Due: oxlint --fix --deny-warnings, oxfmt

fix(supabase): qualify gen_random_bytes in slug generator
  supabase/migrations/20260324143000_fix_chat_shared_link_slug_generation.sql
Due: none

fix(chat-sidebar): hide shorten action for shared links
  src/features/chat-sidebar/__tests__/ComposerPanel.test.tsx
  src/features/chat-sidebar/__tests__/useChatComposerAttachments.test.tsx
  src/features/chat-sidebar/hooks/useChatComposerAttachments.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentLinkPrompt.ts
  src/features/chat-sidebar/utils/composer-attachment-link.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): preserve shared link attachment candidates
  src/features/chat-sidebar/__tests__/useChatComposer.test.tsx
  src/features/chat-sidebar/__tests__/useChatComposerAttachments.test.tsx
  src/features/chat-sidebar/hooks/useComposerAttachmentLinkPrompt.ts
Due: oxlint --fix --deny-warnings, oxfmt

refactor(chat-sidebar): split view models and preview helpers
  src/features/chat-sidebar/__tests__/MessageItem.test.tsx
  src/features/chat-sidebar/__tests__/messageItem.memo.test.ts
  src/features/chat-sidebar/__tests__/useChatMessageForwardAction.test.tsx
  src/features/chat-sidebar/components/MessagesPane.tsx
  src/features/chat-sidebar/components/messages/MessageImageAttachmentGroupContent.tsx
  src/features/chat-sidebar/components/messages/MessageItem.tsx
  src/features/chat-sidebar/components/messages/messageItemMemo.ts
  src/features/chat-sidebar/hooks/useChatAttachmentSend.ts
  src/features/chat-sidebar/hooks/useChatComposerSend.ts
  src/features/chat-sidebar/hooks/useChatImagePreviewSync.ts
  src/features/chat-sidebar/hooks/useChatMessageForwardAction.ts
  src/features/chat-sidebar/hooks/useChatPdfPreviewSync.ts
  src/features/chat-sidebar/hooks/useMessagesPanePreviews.ts
  src/features/chat-sidebar/utils/message-preview-assets.ts
  src/features/chat-sidebar/view-models.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat-sidebar): narrow shared link detection
  src/features/chat-sidebar/__tests__/composer-attachment-link.test.ts
  src/features/chat-sidebar/utils/composer-attachment-link.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat): route forwarded messages through rpc
  src/features/chat-sidebar/__tests__/useChatMessageForwardAction.test.tsx
  src/features/chat-sidebar/hooks/useChatMessageForwardAction.ts
  src/features/chat-sidebar/hooks/useChatSidebarAssetPreviews.ts
  src/features/chat-sidebar/hooks/useChatSidebarPreviewState.ts
  src/features/chat-sidebar/hooks/useChatSidebarRuntimeState.ts
  src/features/chat-sidebar/hooks/useChatSidebarUiState.ts
  supabase/functions/chat-forward-message/actions.ts
  supabase/functions/chat-forward-message/index.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(presence): share directory cache and poll snapshots
  src/features/chat-sidebar/__tests__/useChatSession.test.tsx
  src/features/chat-sidebar/hooks/useChatSessionPresence.ts
  src/features/chat-sidebar/hooks/useChatSidebarController.ts
  src/features/chat-sidebar/view-models.ts
  src/hooks/presence/usePresenceRoster.test.tsx
  src/hooks/presence/usePresenceRoster.ts
  src/store/presenceDirectoryStore.ts
Due: oxlint --fix --deny-warnings, oxfmt

refactor(chat-sidebar): extract composer and preview helpers
  src/features/chat-sidebar/components/ComposerPanel.tsx
  src/features/chat-sidebar/components/composer/ComposerLinkPromptPopover.tsx
  src/features/chat-sidebar/hooks/useChatViewportMenu.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentLinkPrompt.ts
  src/features/chat-sidebar/hooks/useMessagesPaneImagePreviews.ts
  src/features/chat-sidebar/hooks/useMessagesPanePreviews.ts
  src/features/chat-sidebar/utils/chatViewportMenu.ts
  src/features/chat-sidebar/utils/composerAttachmentPrompt.ts
  src/features/chat-sidebar/utils/composerLinkOverlay.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat-sidebar): add shared directory roster
  src/features/chat-sidebar/__tests__/useChatDirectoryRoster.test.tsx
  src/features/chat-sidebar/__tests__/useChatMessageForwardAction.test.tsx
  src/features/chat-sidebar/data/chatSidebarGateway.ts
  src/features/chat-sidebar/hooks/useChatDirectoryRoster.ts
  src/features/chat-sidebar/hooks/useChatMessageForwardAction.ts
  src/features/chat-sidebar/hooks/useChatSidebarLauncher.ts
  src/features/chat-sidebar/store/chatSidebarDirectoryStore.ts
  src/features/chat-sidebar/utils/chatDirectoryRoster.ts
  src/services/api/chat.service.ts
  src/services/api/chat/directory.service.ts
  src/services/api/chat/types.ts
  src/services/api/index.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(chat): surface contract validation errors
  src/services/api/chat.service.test.ts
  src/services/api/chat/contractErrors.ts
  src/services/api/chat/messages.service.ts
  src/services/api/chat/normalizers.ts
  src/services/api/chat/presence.service.ts
  src/services/api/chat/preview.service.ts
Due: oxlint --fix --deny-warnings, oxfmt

refactor(shared): extract roster and runtime facades
  docs/chat-sidebar-architecture.md
  src/features/chat-sidebar/hooks/useChatDirectoryRoster.ts
  src/features/chat-sidebar/hooks/useChatHeaderModel.ts
  src/features/chat-sidebar/hooks/useChatRuntime.ts
  src/features/chat-sidebar/hooks/useChatSidebarController.ts
  src/features/chat-sidebar/hooks/useChatSidebarRefs.ts
  src/features/chat-sidebar/hooks/useChatSidebarRuntimeState.ts
  src/features/chat-sidebar/hooks/useComposerPanelModel.ts
  src/features/chat-sidebar/hooks/useMessagePdfPreviews.ts
  src/features/chat-sidebar/hooks/useMessagesPaneModel.ts
  src/features/chat-sidebar/models.ts
  src/features/chat-sidebar/models/chatHeaderModel.ts
  src/features/chat-sidebar/models/composerPanelModel.ts
  src/features/chat-sidebar/models/messagesPaneModel.ts
  src/features/chat-sidebar/models/shared.ts
  src/features/chat-sidebar/store/chatSidebarDirectoryStore.ts
  src/features/chat-sidebar/utils/chatRuntime.ts
  src/hooks/presence/usePresenceRoster.ts
  src/hooks/useDirectoryRoster.ts
  src/lib/browserLogoutCleanup.ts
  src/store/createDirectoryStore.ts
  src/store/presenceDirectoryStore.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(chat): restrict shared links to attachments
  shared/chatFunctionContracts.ts
  src/features/chat-sidebar/__tests__/ChatSidebarPanel.integration.test.tsx
  src/features/chat-sidebar/__tests__/ChatSidebarPanel.test.tsx
  src/features/chat-sidebar/__tests__/ComposerPanel.test.tsx
  src/features/chat-sidebar/__tests__/message-file.test.ts
  src/features/chat-sidebar/__tests__/useChatComposerAttachments.test.tsx
  src/features/chat-sidebar/components/ComposerPanel.tsx
  src/features/chat-sidebar/data/chatSidebarGateway.ts
  src/features/chat-sidebar/hooks/useChatComposer.ts
  src/features/chat-sidebar/hooks/useChatComposerAttachments.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentLinkPrompt.ts
  src/features/chat-sidebar/hooks/useComposerPanelModel.ts
  src/features/chat-sidebar/models/composerPanelModel.ts
  src/features/chat-sidebar/utils/message-file.ts
  src/services/api/chat/link.service.test.ts
  src/services/api/chat/link.service.ts
  src/types/supabase-chat.generated.ts
  src/types/supabase-chat.ts
  supabase/migrations/20260324183000_chat_shared_links_attachment_only.sql
Due: oxlint --fix --deny-warnings, oxfmt

refactor(chat-sidebar): centralize gateways and models
  src/features/chat-sidebar/__tests__/composer-attachment-link.test.ts
  src/features/chat-sidebar/__tests__/message-file.test.ts
  src/features/chat-sidebar/__tests__/useChatComposer.test.tsx
  src/features/chat-sidebar/__tests__/useChatComposerAttachments.test.tsx
  src/features/chat-sidebar/__tests__/useChatComposerSend.test.tsx
  src/features/chat-sidebar/data/chatSidebarGateway.ts
  src/features/chat-sidebar/hooks/useChatDirectoryRoster.ts
  src/features/chat-sidebar/hooks/useChatHeaderModel.ts
  src/features/chat-sidebar/hooks/useChatSidebarController.ts
  src/features/chat-sidebar/hooks/useComposerLoadingAttachments.ts
  src/features/chat-sidebar/hooks/useComposerPanelModel.ts
  src/features/chat-sidebar/hooks/useMessagesPaneModel.ts
  src/features/chat-sidebar/utils/chatDirectoryRoster.ts
  src/features/chat-sidebar/utils/composer-attachment-link.ts
  src/features/chat-sidebar/utils/message-file.ts
  src/services/api/chat/directory.service.ts
  src/services/api/chat/rpc-contract.ts
  src/services/api/users.service.ts
  src/types/supabase-chat.generated.ts
  src/types/supabase-chat.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(ci): add chat schema drift check
  .github/workflows/ci.yml
  package.json
  scripts/check-chat-schema-types.mjs
Due: oxfmt

chore(chat-schema): add live schema verification
  package.json
  scripts/check-chat-schema-types.mjs
  src/features/chat-sidebar/README.md
Due: oxfmt

refactor(chat-sidebar): pass runtime slices directly to panes
  docs/chat-sidebar-architecture.md
  src/features/chat-sidebar/README.md
  src/features/chat-sidebar/__tests__/ChatHeader.test.tsx
  src/features/chat-sidebar/__tests__/ChatSidebarPanel.test.tsx
  src/features/chat-sidebar/__tests__/ComposerPanel.test.tsx
  src/features/chat-sidebar/__tests__/MessagesPane.test.tsx
  src/features/chat-sidebar/components/ChatHeader.tsx
  src/features/chat-sidebar/components/ComposerPanel.tsx
  src/features/chat-sidebar/components/MessagesPane.tsx
  src/features/chat-sidebar/components/composer/ComposerAttachmentActionMenus.tsx
  src/features/chat-sidebar/components/composer/ComposerAttachmentMenu.tsx
  src/features/chat-sidebar/components/composer/ComposerMessageField.tsx
  src/features/chat-sidebar/components/messages/MessageForwardPicker.tsx
  src/features/chat-sidebar/hooks/useChatComposerAttachments.ts
  src/features/chat-sidebar/hooks/useChatSidebarController.ts
  src/features/chat-sidebar/hooks/useComposerAttachMenu.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentLinkPrompt.ts
  src/features/chat-sidebar/hooks/useComposerAttachmentPickers.ts
  src/features/chat-sidebar/hooks/useComposerLinkPromptPopover.ts
  src/features/chat-sidebar/index.tsx
  src/features/chat-sidebar/models.ts
  src/features/chat-sidebar/models/chatHeaderModel.ts
  src/features/chat-sidebar/models/composerPanelModel.ts
  src/features/chat-sidebar/models/messagesPaneModel.ts
  src/features/chat-sidebar/models/shared.ts
  src/features/chat-sidebar/types.ts
  src/features/chat-sidebar/utils/composerAttachmentPrompt.ts
  src/features/chat-sidebar/utils/composerLinkOverlay.ts
Due: oxlint --fix --deny-warnings, oxfmt

fix(realtime): recover from transient channel failures
  src/features/chat-sidebar/__tests__/channel-image-asset-cache.test.ts
  src/features/chat-sidebar/__tests__/useChatIncomingDeliveries.test.tsx
  src/features/chat-sidebar/__tests__/useChatMessageSearchMode.test.tsx
  src/features/chat-sidebar/hooks/useChatIncomingDeliveries.ts
  src/features/chat-sidebar/hooks/useChatMessageSearchResults.ts
  src/features/chat-sidebar/utils/channel-image-asset-cache.ts
  src/hooks/presence/usePresence.test.tsx
  src/hooks/presence/usePresenceRosterSync.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(scripts): migrate maintenance helpers to TypeScript
  .gitattributes
  package.json
  scripts/check-chat-schema-types.ts
  scripts/check-coverage-100.ts
  scripts/coverage/generate-non-runtime-files.ts
  scripts/patch-baseline-browser-mapping.ts
Due: oxlint --fix --deny-warnings, oxfmt
