Repository fxrdhan/Limeon-Project: changes, and which lint-staged commands are due for each by the changed paths.
All: oxlint --fix --deny-warnings, oxfmt

refactor(boundaries): align form and list presentation with architecture boundaries
  src/features/item-management/README.md
  src/features/item-management/pages/item-master/components/SupplierModals.tsx
  src/features/item-management/pages/item-master/supplierModalData.test.ts
  src/features/item-management/pages/item-master/supplierModalData.ts
  src/features/item-management/presentation/organisms/ItemAdditionalInfoForm.tsx
  src/features/item-management/presentation/organisms/ItemBasicInfoForm.tsx
  src/features/item-management/presentation/organisms/ItemPackageConversionForm.tsx
  src/features/item-management/presentation/organisms/ItemPricingForm.tsx
  src/features/item-management/presentation/organisms/ItemSettingsForm.tsx
  src/features/item-management/presentation/organisms/entity-grid/overlay.test.ts
  src/features/item-management/presentation/organisms/entity-grid/overlay.ts
  src/features/item-management/presentation/organisms/item-package-conversion-form/helpers.test.ts
  src/features/item-management/presentation/organisms/item-package-conversion-form/helpers.ts
  src/features/item-management/presentation/organisms/item-pricing-form/baselineUtils.test.ts
  src/features/item-management/presentation/organisms/item-pricing-form/baselineUtils.ts
  src/features/item-management/presentation/organisms/itemBasicInfoFormState.test.ts
  src/features/item-management/presentation/organisms/itemBasicInfoFormState.ts
  src/features/item-management/presentation/organisms/itemSettingsFormState.test.ts
  src/features/item-management/presentation/organisms/itemSettingsFormState.ts
  src/features/item-management/presentation/organisms/sectionFocus.test.ts
  src/features/item-management/presentation/organisms/sectionFocus.ts
  src/features/purchase-management/README.md
  src/features/purchase-management/application/form/useItemSelectionEffect.ts
  src/features/purchase-management/application/form/usePurchaseForm.ts
  src/features/purchase-management/application/upload/useUploadInvoicePortal.ts
  src/features/purchase-management/domain/purchaseForm.test.ts
  src/features/purchase-management/domain/purchaseForm.ts
  src/features/purchase-management/domain/purchaseListLabels.ts
  src/features/purchase-management/domain/uploadInvoiceUtils.test.ts
  src/features/purchase-management/domain/uploadInvoiceUtils.ts
  src/features/sales/README.md
  src/features/sales/application/create-sale/useSaleForm.ts
  src/features/sales/application/create-sale/useSaleItemSelectionEffect.ts
  src/features/sales/domain/saleForm.test.ts
  src/features/sales/domain/saleForm.ts
  src/features/sales/domain/salesListLabels.ts
  src/lib/agGridOverlayTemplate.test.ts
  src/lib/agGridOverlayTemplate.ts
  src/test/architecture-boundaries.test.ts
Due: oxlint --fix --deny-warnings, oxfmt

refactor(chat): extract read receipts to dedicated runtime cache
  src/features/chat-sidebar/__tests__/read-receipt-cache.test.ts
  src/features/chat-sidebar/utils/chatRuntimeCache.ts
  src/features/chat-sidebar/utils/readReceiptRuntimeCache.ts
Due: oxlint --fix --deny-warnings, oxfmt

feat(query): implement query invalidation utility and align invalidation strategies
  src/constants/queryKeys.test.ts
  src/features/item-management/application/hooks/core/useItemMutations.ts
  src/features/item-management/application/hooks/data/useItemsSync.ts
  src/features/item-management/application/hooks/data/useSuppliersSync.ts
  src/features/item-management/presentation/templates/item/useItemModalRealtime.ts
  src/features/purchase-management/application/form/usePurchaseForm.ts
  src/features/purchase-management/application/list/usePurchaseListPage.ts
  src/features/sales/application/create-sale/useSaleForm.ts
  src/features/sales/application/list/useSalesListPage.ts
  src/hooks/queries/master-data/categories.ts
  src/hooks/queries/master-data/inventoryUnits.ts
  src/hooks/queries/master-data/itemUnits.ts
  src/hooks/queries/master-data/medicineTypes.ts
  src/hooks/queries/master-data/packages.ts
  src/hooks/queries/master-data/suppliers.ts
  src/hooks/queries/useCustomers.ts
  src/hooks/queries/useDosages.ts
  src/hooks/queries/useItems.ts
  src/hooks/queries/useManufacturers.ts
  src/hooks/queries/usePatientsDoctors.ts
  src/lib/queryInvalidation.test.ts
  src/lib/queryInvalidation.ts
  src/test/architecture-boundaries.test.ts
  src/utils/testing/useRandomItemCreation.ts
Due: oxlint --fix --deny-warnings, oxfmt

refactor(item-management): modularize Item Master page state and logic
  src/features/item-management/pages/item-master/hooks/useItemMasterActiveView.ts
  src/features/item-management/pages/item-master/hooks/useItemMasterEntityResources.ts
  src/features/item-management/pages/item-master/hooks/useItemMasterSearches.ts
  src/features/item-management/pages/item-master/hooks/useItemMasterTabNavigation.ts
  src/features/item-management/pages/item-master/itemMasterActiveViewInteractions.test.ts
  src/features/item-management/pages/item-master/itemMasterActiveViewInteractions.ts
  src/features/item-management/pages/item-master/itemMasterActiveViewState.test.ts
  src/features/item-management/pages/item-master/itemMasterActiveViewState.ts
  src/features/item-management/pages/item-master/itemMasterPageState.test.ts
  src/features/item-management/pages/item-master/itemMasterPageState.ts
  src/features/item-management/pages/item-master/itemMasterSearchState.test.ts
  src/features/item-management/pages/item-master/itemMasterSearchState.ts
  src/features/item-management/pages/item-master/itemMasterTabNavigationState.test.ts
  src/features/item-management/pages/item-master/itemMasterTabNavigationState.ts
  src/features/item-management/pages/item-master/useItemMasterPage.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(supabase): add atomic stock delta RPC and security/performance updates
  supabase/migrations/20260617193319_add_atomic_stock_delta_rpc.sql
  supabase/migrations/20260617201903_advisor_performance_cleanup.sql
  supabase/migrations/20260617202229_security_definer_privilege_hardening.sql
  supabase/migrations/20260617202611_move_security_definer_impls_to_private_schema.sql
  supabase/migrations/20260617202659_revoke_anon_security_wrapper_execute.sql
  supabase/migrations/20260617202818_disable_unused_pg_graphql.sql
Due: none

refactor(services): implement atomic stock delta updates via RPC
  src/services/api/transaction.base.test.ts
  src/services/api/transaction.base.ts
Due: oxlint --fix --deny-warnings, oxfmt

chore(tooling): add generated artifacts validation script and integration
  .oxlintrc.json
  package.json
  scripts/check-generated-artifacts.ts
  src/lib/supabase.ts
  src/schemas/generated/database.zod.ts
  src/schemas/generated/forms.zod.ts
  src/schemas/generated/purchase.zod.ts
  src/test/project-tooling.test.ts
  src/types/supabase.generated.ts
Due: oxlint --fix --deny-warnings, oxfmt

docs: document generated database types and schemas workflow
  AGENTS.md
  CONTRIBUTING.md
  src/schemas/README.md
  supabase/README.md
Due: oxfmt

fix(types): resolve TypeScript compilation errors and test env fallbacks
  src/components/pagination/providers/PaginationProvider.tsx
  src/components/pagination/providers/index.ts
  src/features/item-management/infrastructure/entityHistory.service.ts
  src/features/item-management/infrastructure/itemData.service.ts
  src/features/item-management/infrastructure/itemHistory.service.ts
  src/lib/supabase.ts
  src/services/api/base.service.ts
  src/services/api/chat/directory.service.ts
  src/services/api/chat/messages.service.ts
  src/services/api/chat/normalizers.ts
  src/services/api/chat/presence.service.ts
  src/services/api/companyProfile.service.ts
  src/services/api/genericEntity.service.ts
  src/services/api/purchases.service.ts
  src/services/api/sales.service.ts
  src/services/api/transaction.helpers.ts
  src/services/api/users.service.ts
  src/services/repositories/ItemRepository.ts
Due: oxlint --fix --deny-warnings, oxfmt

Path conditions:
  oxlint --fix --deny-warnings: any of: *.{ts,tsx,js,jsx}
  oxfmt: (any of: *.{ts,tsx,js,jsx}) or (any of: *.{json,md,yml,yaml})
