Repository fxrdhan/Limeon-Project: changes, and which Mergify rules are due for each by the changed paths.
All: Label docs & dev-only changes, Label config-only changes

Label docs & dev-only changes:
  label:
    add:
    - documentation
    - skip-ci-heavy
  comment:
    message: 'üìù This PR only modifies documentation or local dev files
  
      üóÇÔ∏è Changed: docs, supabase (local dev setup), or other non-production files
  
  ...

Label config-only changes:
  label:
    add:
    - configuration
    - skip-ci-partial
  comment:
    message: '‚öôÔ∏è This PR only modifies configuration files
  
      ‚ö° Heavy CI checks (typecheck, tests, build) will be skipped to save resources
  
      üìã Only lint + format check will run
  
      '

ci: optimize build job with conditional skip for test-only and script changes
  .github/workflows/ci.yml
Due: none

fix(ci): rename skip-build job to avoid confusion with actual build job
  .github/workflows/ci.yml
Due: none

fix(mergify): use OR condition for build checks to support conditional builds
  .mergify.yml
Due: Label config-only changes

revert: restore skip-build job and OR condition for build safety
  .mergify.yml
Due: Label config-only changes

refactor(ci): consolidate build jobs into single conditional job
  .github/workflows/ci.yml
  .mergify.yml
Due: none

docs(readme): add Vitest to development tools section
  README.md
Due: Label docs & dev-only changes

feat(history): implement pre-fetch pattern for seamless history UX
  src/features/item-management/application/hooks/instances/useEntityHistory.ts
  src/features/item-management/application/hooks/instances/useEntityModalLogic.ts
  src/features/item-management/presentation/organisms/HistoryListContent.tsx
  src/features/item-management/presentation/organisms/HistoryTimelineList.tsx
  src/features/item-management/presentation/organisms/ItemHistoryContent.tsx
  src/features/item-management/presentation/templates/entity/EntityModal.tsx
  src/features/item-management/presentation/templates/item/ItemModal.tsx
  src/features/item-management/shared/contexts/ItemFormContext.tsx
  src/features/item-management/shared/contexts/useItemFormContext.ts
  src/features/item-management/shared/types/ContextTypes.ts
Due: none

style(fonts): migrate from google fonts to fontshare general sans
  index.html
  src/fonts.css
  src/main.tsx
  tailwind.config.ts
Due: none

feat(history): enhance restore button with improved ui and interaction
  src/features/item-management/presentation/organisms/HistoryListContent.tsx
  src/features/item-management/presentation/organisms/HistoryTimelineList.tsx
  src/features/item-management/presentation/organisms/ItemHistoryContent.tsx
Due: none

style(fonts): implement quicksand font for ag grid with enhanced typography
  index.html
  src/App.scss
  src/components/ag-grid/gridSetup.ts
  src/fonts.css
Due: none

refactor(fonts): migrate from General Sans to Quicksand as primary system font
  index.html
  src/App.scss
  src/components/dropdown/hooks/useDropdownPosition.ts
  src/components/export/ExportDropdown.tsx
  src/components/input/index.tsx
  src/fonts.css
  src/layout/navbar/live-datetime/index.tsx
  src/main.tsx
  src/utils/text.ts
  tailwind.config.ts
Due: none

refactor(fonts): consolidate configuration with tailwind v4 @theme directive
  index.html
  src/App.scss
  src/components/ag-grid/gridSetup.ts
  src/components/dropdown/hooks/useDropdownPosition.ts
  src/components/export/ExportDropdown.tsx
  src/components/input/index.tsx
  src/utils/text.ts
  tailwind.config.ts
Due: none

docs: remove robot emoji from CI/CD section
  README.md
Due: Label docs & dev-only changes

docs: remove robot emoji from CI/CD section (#11)
  README.md
Due: Label docs & dev-only changes

feat(navbar): enhance title typography with bold font weight
  src/layout/navbar/index.tsx
Due: none

feat(navbar): enhance title typography with bold font weight (#12)
  src/layout/navbar/index.tsx
Due: none

feat(ci): add global auto-merge rule for approved PRs
  .mergify.yml
Due: Label config-only changes

feat(ci): add global auto-merge rule for approved PRs (#13)
  .mergify.yml
Due: Label config-only changes

fix(entity-modal): resolve focus management when navigating from history to edit mode
  src/components/descriptive-textarea/index.tsx
  src/features/item-management/application/hooks/instances/useEntityModalLogic.ts
Due: none

fix(entity-modal): resolve focus management when navigating from history to edit mode (#14)
  src/components/descriptive-textarea/index.tsx
  src/features/item-management/application/hooks/instances/useEntityModalLogic.ts
Due: none

fix(types): resolve ag-grid type compatibility issues after upgrade to 34.3.1
  auto-pr.sh
  src/components/ag-grid/DataGrid.tsx
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/item-management/presentation/organisms/ItemPackageConversionForm.tsx
Due: none

chore(deps): upgrade ag-grid-react to 34.3.1 to match ag-grid-enterprise
  package.json
  yarn.lock
Due: none

Path conditions:
  Label docs & dev-only changes: (any of: ^(.*\.md|LICENSE|\.github/(ISSUE_TEMPLATE/.*|PULL_REQUEST_TEMPLATE\.md)|supabase/.*)$) and (not (any of: ^(?!.*\.md|LICENSE|\.github/(ISSUE_TEMPLATE/.*|PULL_REQUEST_TEMPLATE\.md)|supabase/.*).*$))
  Label config-only changes: (any of: ^(\.mergify\.yml|\.github/dependabot\.yml|\.prettierrc.*|\.prettierignore|eslint\.config\..*|\.eslintrc.*|\.eslintignore|tailwind\.config\..*|postcss\.config\..*|\.husky/.*|\.gitignore|\.gitattributes|\.mcp\.json.*|.*\.example)$) and (not (any of: ^(?!\.mergify\.yml|\.github/dependabot\.yml|\.prettierrc.*|\.prettierignore|eslint\.config\..*|\.eslintrc.*|\.eslintignore|tailwind\.config\..*|postcss\.config\..*|\.husky/.*|\.gitignore|\.gitattributes|\.mcp\.json.*|.*\.example).*$))
