Repository fxrdhan/Limeon-Project: changes, and which Mergify rules are due for each by the changed paths.
All: Label docs & dev-only changes, Label config-only changes

Label docs & dev-only changes:
  label:
    add:
    - documentation
    - skip-ci-heavy
  comment:
    message: 'üìù This PR only modifies documentation or local dev files
  
      üóÇÔ∏è Changed: docs, supabase (local dev setup), or other non-production files
  
  ...

Label config-only changes:
  label:
    add:
    - configuration
    - skip-ci-partial
  comment:
    message: '‚öôÔ∏è This PR only modifies configuration files
  
      ‚ö° Heavy CI checks (typecheck, tests, build) will be skipped to save resources
  
      üìã Only lint + format check will run
  
      '

fix: resolve all react-hooks/exhaustive-deps warnings (#113)
  src/features/identity/hooks/useIdentityModalLogic.ts
  src/features/item-management/application/hooks/instances/useEntityModalLogic.ts
  src/layout/main/index.tsx
Due: none

chore(docs): remove AG Grid documentation files
  docs/grid/CellSelection.md
  docs/grid/FilterAPI.md
  docs/grid/GridState.md
  docs/grid/LoadingComponent.md
  docs/grid/MenuItemComponent.md
  docs/grid/NewFiltersToolPanel.md
  docs/grid/RowPagination.md
  docs/grid/RowSelectionAPIReference.md
  docs/grid/SSRMConfiguration.md
  docs/grid/SSRMFiltering.md
  docs/grid/SSRMPagination.md
  docs/grid/SSRMRowGrouping.md
  docs/grid/SetFilterFilterList.md
  docs/grid/SideBar.md
  docs/grid/StateAndLifecycle.md
Due: Label docs & dev-only changes

chore(docs): remove AG Grid documentation files (#114)
  docs/grid/CellSelection.md
  docs/grid/FilterAPI.md
  docs/grid/GridState.md
  docs/grid/LoadingComponent.md
  docs/grid/MenuItemComponent.md
  docs/grid/NewFiltersToolPanel.md
  docs/grid/RowPagination.md
  docs/grid/RowSelectionAPIReference.md
  docs/grid/SSRMConfiguration.md
  docs/grid/SSRMFiltering.md
  docs/grid/SSRMPagination.md
  docs/grid/SSRMRowGrouping.md
  docs/grid/SetFilterFilterList.md
  docs/grid/SideBar.md
  docs/grid/StateAndLifecycle.md
Due: Label docs & dev-only changes

feat: integrate ts-to-zod for automatic schema generation
  package.json
  src/features/item-management/presentation/organisms/ItemBasicInfoForm.tsx
  src/features/item-management/presentation/organisms/ItemPricingForm.tsx
  src/schemas/README.md
  src/schemas/__tests__/generated-schemas.test.ts
  src/schemas/generated/database.zod.ts
  src/schemas/generated/forms.zod.ts
  src/schemas/generated/index.ts
  src/schemas/generated/invoice.zod.ts
  src/schemas/generated/purchase.zod.ts
  src/schemas/index.ts
  src/schemas/manual/index.ts
  src/schemas/manual/itemValidation.ts
  ts-to-zod.config.mjs
  yarn.lock
Due: none

chore: format code
  ts-to-zod.config.mjs
Due: none

feat: integrate ts-to-zod for automatic schema generation (#115)
  package.json
  src/features/item-management/presentation/organisms/ItemBasicInfoForm.tsx
  src/features/item-management/presentation/organisms/ItemPricingForm.tsx
  src/schemas/README.md
  src/schemas/__tests__/generated-schemas.test.ts
  src/schemas/generated/database.zod.ts
  src/schemas/generated/forms.zod.ts
  src/schemas/generated/index.ts
  src/schemas/generated/invoice.zod.ts
  src/schemas/generated/purchase.zod.ts
  src/schemas/index.ts
  src/schemas/manual/index.ts
  src/schemas/manual/itemValidation.ts
  ts-to-zod.config.mjs
  yarn.lock
Due: none

chore: update gitattributes for commitlint and coverage
  .gitattributes
Due: Label config-only changes

chore: update gitattributes for commitlint and coverage (#116)
  .gitattributes
Due: Label config-only changes

chore: add *.config.mjs to linguist-vendored in gitattributes
  .gitattributes
Due: Label config-only changes

chore: add *.config.mjs to linguist-vendored in gitattributes (#117)
  .gitattributes
Due: Label config-only changes

fix: prevent unnecessary Item Master page reload on sidebar navigation
  src/layout/sidebar/index.tsx
Due: none

fix: prevent unnecessary Item Master page reload on sidebar navigation (#118)
  src/layout/sidebar/index.tsx
Due: none

refactor(search-bar): optimize padding logic with CSS variables
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/hooks/useSearchInput.ts
Due: none

refactor(search-bar): optimize padding logic with CSS variables (#119)
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/hooks/useSearchInput.ts
Due: none

fix: resolve all code scanning security alerts
  scripts/add-admin-user.ts
  scripts/update-user-password.ts
  src/pages/purchases/invoice-uploader/index.tsx
  supabase/edge-functions/extract-invoice/index.ts
Due: none

fix: resolve all code scanning security alerts (#120)
  scripts/add-admin-user.ts
  scripts/update-user-password.ts
  src/pages/purchases/invoice-uploader/index.tsx
  supabase/edge-functions/extract-invoice/index.ts
Due: none

fix: enhance XSS protection for CodeQL recognition (Alerts #10, #11)
  src/pages/purchases/invoice-uploader/index.tsx
Due: none

fix: enhance XSS protection for CodeQL recognition (Alerts #10, #11) (#121)
  src/pages/purchases/invoice-uploader/index.tsx
Due: none

chore: add Playwright MCP server to example configuration
  .mcp.json.example
Due: Label config-only changes

chore: fix formatting in .mcp.json.example
  .mcp.json.example
Due: Label config-only changes

chore: add Playwright MCP server to example configuration (#123)
  .mcp.json.example
Due: Label config-only changes

chore: cleanup debug logs and add scrollbar utility class
  src/components/shared/chat-portal/index.tsx
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/item-management/presentation/organisms/styles/scrollbar.scss
  src/hooks/realtime/useItemsSync.ts
  src/pages/master-data/item-master/index.tsx
  src/utils/consoleCommands.ts
Due: none

fix: add missing type definitions for multi-condition filters
  src/components/search-bar/types/search.ts
  src/types/search.ts
Due: none

fix: add showJoinOperatorSelector to searchUtils state objects
  src/components/search-bar/utils/searchUtils.ts
Due: none

feat: add multi-condition filter support with AND/OR operators
  src/App.scss
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/components/selectors/JoinOperatorSelector.tsx
  src/components/search-bar/hooks/useSearchInput.ts
  src/components/search-bar/hooks/useSearchKeyboard.ts
  src/components/search-bar/hooks/useSearchState.ts
  src/components/search-bar/operators.tsx
  src/components/search-bar/types/index.ts
  src/utils/gridFilterSync.ts
Due: none

feat(search): implement multi-condition search with join operators
  src/App.scss
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/components/selectors/JoinOperatorSelector.tsx
  src/components/search-bar/hooks/useSearchInput.ts
  src/components/search-bar/hooks/useSearchKeyboard.ts
  src/components/search-bar/hooks/useSearchState.ts
  src/components/search-bar/operators.tsx
  src/components/search-bar/types/index.ts
  src/components/search-bar/types/search.ts
  src/components/search-bar/utils/searchUtils.ts
  src/components/shared/chat-portal/index.tsx
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/item-management/presentation/organisms/styles/scrollbar.scss
  src/hooks/realtime/useItemsSync.ts
  src/pages/master-data/item-master/index.tsx
  src/types/search.ts
  src/utils/consoleCommands.ts
  src/utils/gridFilterSync.ts
Due: none

feat(search): implement multi-condition search with join operators (#125)
  src/App.scss
  src/components/search-bar/EnhancedSearchBar.tsx
  src/components/search-bar/components/SearchBadge.tsx
  src/components/search-bar/components/selectors/JoinOperatorSelector.tsx
  src/components/search-bar/hooks/useSearchInput.ts
  src/components/search-bar/hooks/useSearchKeyboard.ts
  src/components/search-bar/hooks/useSearchState.ts
  src/components/search-bar/operators.tsx
  src/components/search-bar/types/index.ts
  src/components/search-bar/types/search.ts
  src/components/search-bar/utils/searchUtils.ts
  src/components/shared/chat-portal/index.tsx
  src/features/item-management/presentation/organisms/EntityGrid.tsx
  src/features/item-management/presentation/organisms/styles/scrollbar.scss
  src/hooks/realtime/useItemsSync.ts
  src/pages/master-data/item-master/index.tsx
  src/types/search.ts
  src/utils/consoleCommands.ts
  src/utils/gridFilterSync.ts
Due: none

fix(search-bar): enable edit mode for multi-condition filters via X button
  src/components/search-bar/EnhancedSearchBar.tsx
Due: none

fix(search-bar): enable edit mode for multi-condition filters via X button (#127)
  src/components/search-bar/EnhancedSearchBar.tsx
Due: none

Path conditions:
  Label docs & dev-only changes: (any of: ^(.*\.md|LICENSE|\.github/(ISSUE_TEMPLATE/.*|PULL_REQUEST_TEMPLATE\.md)|supabase/.*)$) and (not (any of: ^(?!.*\.md|LICENSE|\.github/(ISSUE_TEMPLATE/.*|PULL_REQUEST_TEMPLATE\.md)|supabase/.*).*$))
  Label config-only changes: (any of: ^(\.mergify\.yml|\.github/dependabot\.yml|\.prettierrc.*|\.prettierignore|eslint\.config\..*|\.eslintrc.*|\.eslintignore|tailwind\.config\..*|postcss\.config\..*|\.husky/.*|\.gitignore|\.gitattributes|\.mcp\.json.*|.*\.example)$) and (not (any of: ^(?!\.mergify\.yml|\.github/dependabot\.yml|\.prettierrc.*|\.prettierignore|eslint\.config\..*|\.eslintrc.*|\.eslintignore|tailwind\.config\..*|postcss\.config\..*|\.husky/.*|\.gitignore|\.gitattributes|\.mcp\.json.*|.*\.example).*$))
